<div class=''>
  <h4><%= _("Merge Articles") %></h4>
  <label for="article_id"><%= _("Article ID")%></label>
  <div class='input'>
    <%= text_field 'article', 'id' %>
  </div>
  <%= submit_tag _("Merge"), {:class => 'btn'} %>

</div>